[submodule "Assets/unity-discord"]
	path = Assets/unity-discord
	url = git@github.com:lumpn/unity-discord.git
[submodule "Assets/Wizards Code/UnityActionHub"]
	path = Assets/Wizards Code/UnityActionHub
	url = git@github.com:TheWizardsCode/UnityActionHub.git
[submodule "Assets/Wizards Code/Story Teller/ink-unity-integration"]
	path = Assets/Wizards Code/Story Teller/ink-unity-integration
	url = git@github.com:inkle/ink-unity-integration.git
