[submodule "Assets/unity-discord"]
	path = Assets/unity-discord
	url = git@github.com:lumpn/unity-discord.git
[submodule "Assets/Wizards Code/UnityActionHub"]
	path = Assets/Wizards Code/UnityActionHub
	url = git@github.com:TheWizardsCode/UnityActionHub.git
